<div class="container">
  <div class="bar">
    <ion-icon name="arrow-back-outline" class="return"routerLink="/accueil-employer"></ion-icon>
    <p class="titre">Signaler une perte</p>
  </div>
<form>
  <input type="file" class="ipt" >
  <div class="form-group" >
    <label for="category">Catégorie</label>
    <select name="">
      <Option>Cat1</Option>
      <Option>Cat1</Option>
      <Option>Cat1</Option>
    </select>
  </div>
  <div class="form-group">
    <label for="race">Race</label>
    <select name="">
      <Option>Race1</Option>
      <Option>Race1</Option>
      <Option>Race1</Option>
    </select>
  </div>
  <div class="form-group">
    <label>Nombres</label>
    <input type="number" placeholder="Nombres">
  </div>
  <div class="form-group">
    <label> Causes</label>
    <input type="textarea" placeholder="description......" class="des">
  </div>
  <div>
    <button>Enregistrer</button>
  </div>
</form>
</div> 