<div class="container">
<div class="entete">
<h1>Type de Compte</h1>
<p>Choisissez le type de compte à créer avant de continuer</p>
</div>
<div class="carte">
  <div class="card" routerLink="/inscription">
    <div class="cercle">
     <img src="../assets/client.png">
    </div>
    <div class="text">
    <h1>Client</h1>
    <p> Parcourez notre catalogue et Profitez de vos achats!".</p>
    </div>
  </div>
<!-- EMPLOYER -->
  <div class="card" routerLink="/login-employer">
    <div class="cercle">
     <img src="../assets/employer.png">
    </div>
    <div class="text">
    <h1>Employer</h1>
    <p>Votre contribution est précieuse.</p>
    </div>
  </div>
</div>
</div>