<div class="container">
<div class="bar">
<div class="logo">
  <img src="../assets/vrai.png">
</div>
<!-- <div class="tx">
  <p>IKAWAIRAI</p>
</div> -->
</div>
<!-- calendrier -->
<div class="calendar">
<div class="jour">
<h1>Janvier 2024</h1>
</div>
  <div class="week">
    <div class="day">Lun</div>
    <div class="day">Mar</div>
    <div class="day">Mer</div>
    <div class="day">Jeu</div>
    <div class="day">Ven</div>
    <div class="day">Sam</div>
    <div class="day">Dim</div>
  </div>
  <div class="dates">
    <div class="date">6</div>
    <div class="date">7</div>
    <div class="date">8</div>
    <div class="date">9</div>
    <div class="date">10</div>
    <div class="date">11</div>
    <div class="date">12</div>
  </div>
</div>


<div class="carte">
<div class="card" routerLink="/tache">
<div style="margin-top: 10px;">
<div>
  <img src="../assets/tache (1).png" class="tache">
</div>
<div class="txt">
  <h2>Mes tâches</h2>
  <p class="des">L'employé exécute les tâches assignées par le propriétaire</p>
</div>
</div>
</div>

<!-- vente -->
<div class="card" routerLink="/vente">
  <div style="margin-top: 10px;">
  <div>
    <img src="../assets/modifie.png" class="tache">
  </div>
  <div class="txt">
    <h2>Liste de vente</h2>
    <p class="des">Liste des animaux à vendre selon les souhaits du propriétaire.</p>
  </div>
</div>
  </div>


<!-- commande -->
<div class="card" routerLink="/aliment">
  <div style="margin-top: 10px;">
  <div>
    <img src="../assets/shope.png" class="tache">
  </div>
  <div class="txt">
    <h2>Commandes</h2>
    <p class="des">Voir les commandes passer par les clients</p>
  </div>
</div>
  </div>
<!-- perte -->
<div class="card" routerLink="/perte">
  <div style="margin-top: 10px;">
  <div>
    <img src="../assets/perte.png" class="tache">
  </div>
  <div class="txt">
    <h2>Signaler une perte</h2>
    <p class="des">Informer le propriétaire des pertes<p>
  </div>
</div>
  </div>
</div>
</div>