.container{
    width: 428px;
    height: 926px;
background-image: url(../demarrage/assets/accueil.png);
}
.bar{
    width: 428px;
    height: 60px;
    flex-shrink: 0;
    background-color: white;
}

.titre{
    color: #22202A;
    text-align: center;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
justify-content: center;
}
.return{
width: 30px;
height: 30px;
margin-top: 10px;
}