<div class="container">
    <div class="bar">
    <div class="logo">
      <img src="../assets/logo.png">
    </div>
    <div class="tx">
      <p>IKAWAIRAI</p>
    </div>
    </div>
<div>
<img src="../assets/deco.png" alt="" srcset="">
</div>
<div class="contenu">
<div class="card">
<div class="image">
<img src="../assets/photo.png" alt="">
</div>
<div style="margin-left: 40px;">
<P>Race:  Bélier</P>
<P>Prix:  150 000</P>
<button>Contact</button>
</div>
</div>

<div class="card">
    <div class="image">
    <img src="../assets/photo.png" alt="">
    </div>
    <div style="margin-left: 40px;">
    <P>Race:  Bélier</P>
    <P>Prix:  150 000</P>
    <button>Contact</button>
    </div>
    </div>
    
    <div class="card">
        <div class="image">
        <img src="../assets/photo.png" alt="">
        </div>
        <div style="margin-left: 40px;">
        <P>Race:  Bélier</P>
        <P>Prix:  150 000</P>
        <button>Contact</button>
        </div>
        </div>
</div>
</div>