.container{
    width: 428px;
    height: 926px;
background-image: url(../demarrage/assets/accueil.png);
}
.bar{
    width: 428px;
    height: 70px;
    flex-shrink: 0;
    background-color: white;
}

.tx{
// text-align: right;
margin-left: 80%;

}
.card{
    width: 40%; 
    margin-bottom: 10px; 
    height: 230px;
    flex-shrink: 0;
    border-radius: 5px;
background: var(--white, #FFF);
box-shadow: 0px 1px 8px 0px rgba(110, 110, 110, 0.10);
    margin-right: 20px;

}



#image-slider { display: flex; transition: transform 0.1s ease-in-out; }

.image { 
    margin-left: 30px;

    width: 50%; 
 }
.imge{
    margin-left: 30px;

    width: 100%;  

}

.contenu{
    display: flex;
    flex-wrap: wrap;
        margin-top: 40px;
    // margin-left: 10px;
    // align-items:center;
    margin-left: 30px;
    // justify-content: space-between;
    width: 90%;
    // margin-top: 50px;
}
button{
    width: 93.543px;
    height: 25.22px;
    transform: rotate(-0.35deg);
    flex-shrink: 0;
    border-radius: 8px;
border: 1px solid var(--white, #FFF);
background: var(--orange, #FE8F4A);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
color: #FFF;
margin-left: 30px;
}


strong{
    align-items: flex-start;
     margin-right: 8px; 
}

span{
    //  align-items: flex-start; 
     flex-direction: column;
}