<div class="container">
  <div class="bar">
    <ion-icon name="arrow-back-outline" class="return" routerLink="/accueil-employer"></ion-icon>
    <p class="titre">Nourriture</p>
  </div>
  <h1>Poulet</h1>
  <div class="category">
    <div class="card" (click)="presentAlert('Chair')">
      <h3>Chair</h3>
    
    </div>

    <div class="card" (click)="presentAlert('Pondeuse')">
      <h3>Pondeuse</h3>
    </div>

    <div class="card" (click)="presentAlert('AutreType')">
      <h3>Autre Type</h3>
    </div>
  </div>

</div>

<ion-alert
  *ngIf="showAlert"
  header="Type de Nourriture"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
  (ionAlertDidDismiss)="handleAlertDismiss()">
</ion-alert>