.container{
    width: 428px;
    height: 926px;
background-image: url(../demarrage/assets/accueil.png);
}
.bar{
    width: 428px;
    height: 70px;
    flex-shrink: 0;
    background-color: white;
}

.titre{
    color: #22202A;
    text-align: center;
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
justify-content: center;
}
.return{
width: 30px;
height: 30px;
margin-top: 10px;
}
.card{
    width: 350px;
    height: 297px;
    flex-shrink: 0;
    border-radius: 20px;
background: var(--white, #FFF);

/* Background Blur 30px */
backdrop-filter: blur(15px);
margin-top: 40px;
margin-left: 25px;
}
.nom{
display: flex;
flex-direction: row;
}

button{
border-radius: 8px;
border: 1px solid var(--white, #FFF);
background: var(--orange, #FE8F4A);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
color: #FFF;
width: 182px;
height: 37px;
}