<div class="container">
  <div class="left">
    <img  class="logo" src="../assets/logo.png">
    <ion-list>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Liste des éléveurs</ion-label>
      </ion-item>
      <ion-item> 
        <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Catégorie</ion-label>
        </ion-item>
    </ion-list>
  </div>
  
<!-- les card Catégorie -->
<div class="droite">
  <div class="bord">
    <p class="text">Tableau de bord</p>
  </div>
  <div class="ti">
    <h1>Catégories pas défaut</h1>
  </div>
    <!-- le bouton ajout -->
    <div class="ajout">
      <button class="btn">
        Ajouter une catégorie
        <img class="ico" src="./assets/ajout.png"  style="float: right;">
      </button>
    </div>
<!-- card catégorie -->
<div class="card">
  <button><img src="../assets/modifier.png"></button>
  <div class="title">
    <p>Poulet</p>
  </div>
  <div class="icon">
  <img src="./assets/poulet.png" >
  </div>
  <div class="nbre">
   <p>Nombres de race : 5</p>
   <button class="butn">Supprimer</button>
  </div>
</div>



</div>
</div>