.container{
    background-image: url(../accueil-awa/assets/badground.png);
    display: flex;
    flex-direction: row;
    }
    .left{
        width: 25%;
        height: 832px;
        flex-shrink: 0;
        border: 2px solid var(--white, #FFF);
    background: rgba(229, 239, 255, 0.05); 
    }
    ion-icon{
        margin-right: 8px;
    
    }
    .droite {
        width: 75%;
        height: 832px;
        
}
.card{
 display: flex;
width: 233px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
background: var(--white, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-top: -80px;
margin-left: 50px;
width: 253px;
height: 298px;
margin-top: 3px;

}

ion-icon{
    margin-right: 8px;

}
ion-label{
    margin-left: 8px
}
.bord{
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
align-items: flex-start;
 gap: 741px;
 border-bottom: 1px solid #FE8F4A;
background: var(--white, #FFF);
box-shadow: 0px 8px 16px 0px rgba(192, 199, 218, 0.15);
margin-left: 15px;
width: 95%;
height: 50px;
margin-top: 30px;

}
.text{
    color: var(--primary, #212842);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.01px;
    text-transform: capitalize;
    margin-right: 90%;
    margin-top: -1px;
}
.ti{
    margin-top: 60px;   
    margin-left: 40px;
    
}
.title{
color: #FE8F4A;
text-align: center;
margin-left: 80px;
font-weight: 700;
}
.icon{
    margin-left: 80px;
}
.nbre{
    margin-left: 40px;
}
.butn{
    border-radius: 8px;
    background: #F53F3F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 130px;
height: 35px;
flex-shrink: 0;
color: white;
margin-left: 9px;
font-size: 20px;
}
button{
    margin-left: 90%;
    background-color: white;
}

.ajout{
    
margin-top: 30px;
margin-right: 27%;

}
.btn{
    display: flex;
    width: 300px;
    height: 50px;
    padding: 6px 0px 6px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
background: var(--color1, #48436B);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
}
.ico{
    margin-left:30px;
    }